{% load static %}
{% load filters %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>E-Commerce</title>
</head>
<body>
    <a href="{% url 'produto:lista_produtos' %}" class="teste">OI</a>
    {% if request.session.carrinho %}
    
    <a href="{% url 'produto:carrinho' %}"> 
        CARRINHO
        <span>
            {{ request.session.carrinho|quantidade_total }}
        </span>
    </a>
    {% endif %}


    {% if request.user.is_authenticated %}
    <div>
        <a href="{% url 'perfil:logout' %}">Logout</a>
    </div>
    {% else %}
    <div>
        <a href="{% url 'perfil:cadastrar' %}">CADASTRAR</a>
        <a href="{% url 'perfil:login' %}">LOGIN</a>
    </div>
    {% endif %}
    
    {% if request.user.is_staff%}
        <a href="{% url 'blog:publicar' %}">Publicar</a>
    {% else %}

    {% endif %}
    <a href="{% url 'blog:blog' %}">Blog</a>


    
    {% block 'conteudo' %}
    {% endblock %}
</body>
</html>
